{% extends 'form_div_layout.html.twig' %}

{% block product_widget %}
    {% spaceless %}
        <style>
            .productImage--selector {
                float: left;
                margin: 10px;
                cursor: pointer;
            }

            .productImage--selector:first-child {
                margin-left: 0;
            }

            .productImage--selector.selected img {
                border: 6px rgb(224, 18, 117) solid;
                padding:2px
            }

            .productImage--selector img {
                border: 6px rgb(207, 207, 207) solid;
                border-radius: 12px 12px 0 0;
                padding:2px;
                width: 100%;
                height: auto;
            }

            .productImage--selector .productImage--caption {
                background: rgb(207, 207, 207);
                font-size: 16px;
                line-height: 28px;
                height: 34px;
                text-align: center;
                border-radius: 0 0 12px 12px;
            }

            .productImage--selector.selected .productImage--caption {
                background-color: rgb(224, 18, 117);
                color: white;
                font-weight: bold;
            }
        </style>
        <select class="category" id="{{ form.parent.vars.id }}_product_category" name="{{ form.parent.vars.id }}[product_category]">
            {% for category in form.vars.categories %}
                <option value="{{ category.id }}"{% if category.id == form.vars.selectedCategory %}selected="selected"{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <input id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{% if not form.vars.value is empty %}{{ form.vars.value }}{% endif %}" required="required" type="hidden" />
        {% for category in form.vars.categories %}
            <div class="category_group--{{ category.id }} row category_group">
                    {% for product in category.products %}
                        <div class="col-xs-3 productImage--selector{% if (form.vars.value == product.id) %} selected{% endif %}" data-target="#{{ form.vars.id }}" data-value="{{ product.id }}">
                            <img class="image-responsive" src="{% path product.image, 'reference' %}">
                            <div class="productImage--caption">{{ product.name }}</div>
                        </div>
                    {% endfor %}
            </div>
        {% endfor %}
        <script>
            $(document).ready(function() {
                var categorySelector = '#{{ form.parent.vars.id }}_product_category';
                var body = $('body');
                var categorySelect = $(categorySelector);
                var productImageSelector = '.productImage--selector';
                var productImageHiddenField = $('#{{ form.vars.id }}');

                var productImageClicked = function(event) {
                    var val = $(event.currentTarget).data('value');
                    var targetSelector = $(event.currentTarget).data('target');
                    var target = $(targetSelector);
                    $(productImageSelector).removeClass('selected');
                    $(event.currentTarget).addClass('selected');
                    target.val(val);
                    target.trigger('change');
                };

                var categoryChanged = function() {
                    var id = categorySelect.val();
                    $('div[class*="category_group--"]').hide();
                    $('div.category_group--'+id).show();
                    var value = '{{ form.vars.value }}';
                    var productFormDataSelected = {};
                    if(value.length > 0) {
                        productFormDataSelected = $(productImageSelector + '[data-value="'+value+'"]:visible');
                    }
                    if (productFormDataSelected.length > 0) {
                        productFormDataSelected.trigger('click');
                    } else {
                        var firstVisible = $(productImageSelector+':visible');
                        if (firstVisible.length <= 0) {
                            $('#{{ form.vars.id }}').val('');
                        } else {
                            firstVisible.trigger('click');
                        }
                    }
                };

                var hiddenProductFieldChanged = function(event) {
                    var value = productImageHiddenField.val();

                    $('[name="{{ form.parent.vars.id }}[textVersion]"]').closest('li').hide();
                    $('#{{ form.parent.vars.id }}_textVersion').closest('.form-group').show();
                    if (value in textVersionMapping) {
                        var availableTextVersions = textVersionMapping[value];
                        for (var i = 0; i < availableTextVersions.length; i++) {
                            var versionId = availableTextVersions[i];
                            var textVersion = $('[name="{{ form.parent.vars.id }}[textVersion]"][value="'+versionId+'"]');
                            textVersion.closest('li').show();
                            if (i === 0) {
                                textVersion.closest('label').trigger('click');
                            }
                        }
                        var textVersionDataValueRadio = [];
                        {% if not form.parent.vars.value.textVersion is null %}
                            textVersionDataValueRadio = $('[name="{{ form.parent.vars.id }}[textVersion]"][value="{{ form.parent.vars.value.textVersion.id }}"]:visible');
                        {% endif %}
                        if (textVersionDataValueRadio.length > 0) {
                            textVersionDataValueRadio.closest('label').trigger('click');
                        } else {
                            $('[name="{{ form.parent.vars.id }}[textVersion]"]').prop('checked', false);
                        }
                    }
                    var visibleVariants = $('#{{ form.parent.vars.id }}_textVersion li:visible');
                    if (visibleVariants.length <= 0) {
                        $('#{{ form.parent.vars.id }}_textVersion').closest('.form-group').hide();
                    }
                };
                var textVersionMapping = {{ form.vars.textVersionMapping|raw }};
                body.on('click', productImageSelector, productImageClicked);
                body.on('change', categorySelector, categoryChanged);
                body.on('change', productImageHiddenField, hiddenProductFieldChanged);

                var action = $('#{{ form.parent.vars.id }}_action').val();
                if (action === 'CREATE') {
                    var firstVal = $('#{{ form.parent.vars.id }}_product_category option').first().val();
                    $('#{{ form.parent.vars.id }}_product_category').val(firstVal);
                }

                categorySelect.trigger('change');
            })
        </script>
        {#{{ block('form_widget') }}#}
    {% endspaceless %}
{% endblock %}
