<html>
<body>
    <h1>Byla vytvořena nová objednávka</h1>
    Nová objednávka číslo <strong>#{{ order.id }}</strong> byla vytvořena z obchodu <strong>{{ order.store.name }}</strong>
    <br>
    <a href="{{ url('admin_app_order_edit', { 'id': order.id }) }}">Detail objednávky</a>
</body>
</html>