<html>
<body>
    <h1>Změna stavu objednávky</h1>
    Vaše objednávká číslo <strong>#{{ order.id }}</strong> přešla ze stavu <strong>{{ oldState }}</strong>
    do stavu <strong>{{ order.state }}</strong>.
</body>
</html>