<html>
<body>
    <h1>Objednávka byla upravena</h1>
    Objednávka číslo <strong>#{{ order.id }}</strong> z obchodu <strong>{{ order.store.name }}</strong> byla upravena
    <br>
    <a href="{{ url('admin_app_order_edit', { 'id': order.id }) }}">Detail objednávky</a>
</body>
</html>