{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% if not value.name is empty %}
        {{ value }}
    {% else %}
        {{ "Jiné"|trans }}
    {% endif %}
{% endblock %}
