<a class="btn btn-sm btn-default reorder_link" href="{{ admin.generateObjectUrl('reorder', object) }}">
    <i class="fa fa-repeat" aria-hidden="true"></i>
    {{ 'action_reorder'|trans({}, 'SonataAdminBundle') }}
</a>