{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if value %}
        {% set route_name = field_description.options.route.name %}
        {% if field_description.hasAssociationAdmin and field_description.associationadmin.hasRoute(route_name) and field_description.associationadmin.hasAccess(route_name, value) %}
            <a href="{{ field_description.associationadmin.generateObjectUrl(route_name, value, field_description.options.route.parameters) }}">
                {{ value|render_relation_element(field_description) }}
            </a>
        {% else %}
            {% set fullName = value.productCategory.name ~ ' - ' ~ value.name %}
            {% if value.image is empty %}
                {{ fullName }}
            {% else %}
                {{ fullName }}
                <br>
                <img src="{% path value.image, 'reference' %}">
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
